*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;
    color: #fff;
    font-family: serif;
    
}

.heading{
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.result{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
button{
    font-size: 196px;
    border-radius: 10px;
    border: 1px solid bisque;
    background-color: transparent;


}
.options{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    gap: 60px;
}

.rounds{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;
    margin-right: 100px;
    gap: 60px;
}